<head th:fragment="head">
<meta charset="UTF-8">
<title>Lojas JVM | Sistema Primavera</title>

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</head>


<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light">
	
	<div class="container-fluid">
	
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			    data-bs-target="#navbarTogglerDemo01">
				<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		
			<a class="navbar-brand" href="#">LOJAS JVM</a>
			
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			
				<li id="menu-home" class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>
					
				<li id="menu-gerenciar" class="nav-item">
					<a class="nav-link" href="/produto/gerenciar">Gerenciar</a>
				</li>
					
				<li id="menu-sobre" class="nav-item">
					<a class="nav-link" href="/sobre">Sobre</a>
				</li>
				
			</ul>
		
		</div>
	
	</div>

</nav>

<div th:fragment="banner(titulo, subtitulo)" class="p-4 mb-4 mt-1 bg-secondary rounded-3">
	<h1 class="display-4 text-white" th:text="${titulo}">Titulo do Banner</h1>
	<h2 class="lead-text-white" th:text="${subtitulo}">Subtitulo</h2>
</div>





